In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from glob import glob
from tqdm import tqdm
import warnings

warnings.filterwarnings(action='ignore') 
know_train = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/시큐레이어/KNOW job_train/*.csv'))]

In [ ]:
for df in know_train:
    for col in df.columns:
        df[col].replace(' ', '0', inplace=True)

## 라벨 인코딩

In [ ]:
from sklearn.preprocessing import LabelEncoder
years = ['2017', '2018', '2019', '2020']

year_encoder = {}

for year, df in zip(years, know_train):
    print(year)
    encoders = {}
    
    for col in df.columns:
        if col == 'ID':
            continue
        
        try:
            df[col] = df[col].map(int)
        except:
            encoder = LabelEncoder()
            df[col] = df[col].map(str)
            df[col] = encoder.fit_transform(df[col])
            encoders[col] = encoder
            
            
    year_encoder[year] = encoders

2017
2018
2019
2020

In [ ]:
train_data = {}
for year, df in zip(years, know_train):
    train_data[year] = {'X': df.iloc[:, 1:-1], # ID제외
                        'y': df.iloc[:, -1]}

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.tree import DecisionTreeClassifier

clf1 = LogisticRegression()
clf2 = RandomForestClassifier(n_estimators=100, random_state=1)
clf3 = DecisionTreeClassifier()

model = VotingClassifier(estimators=[('lr', clf1), ('rf', clf2), ('dt', clf3)], voting='hard')

models = {}
for year in tqdm(years):
    model = VotingClassifier(estimators=[('lr', clf1), ('rf', clf2), ('dt', clf3)], voting='hard')
    model.fit(train_data[year]['X'].iloc[:, :], train_data[year]['y'])
    models[year] = model

100%|██████████| 4/4 [04:50<00:00, 72.60s/it]

## Testset

In [ ]:
know_test = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/시큐레이어/KNOW job_test/*.csv'))]
know_test[0].head() # 2017년도 test 샘플

   idx  aq1_1 aq1_2  aq2_1 aq2_2  ...  bq39_2 bq40  bq41_1 bq41_2  bq41_3
0    0      3     4      2     2  ...       1    1    3000           2300
1    1      5     5      3     5  ...       1    1    5500           2500
2    2      5     5      5     4  ...       1    1    4300           4000
3    3      4     5      5     6  ...       1    1    4100           3000
4    4      5     6      4     5  ...       1    1    2800           2000

[5 rows x 155 columns]

In [ ]:
for df in know_test:
    for col in df.columns:
        df[col].replace(' ', '0', inplace=True)

In [ ]:
years = ['2017', '2018', '2019', '2020']

for year, df in zip(years, know_test):
    print(year)
    encoders = {}
    
    for col in df.columns:
        
        try:
            df[col] = df[col].map(int)
        except:
            encoder = year_encoder[year][col]
            df[col] = df[col].map(str)
            category_map = {category: idx for idx, category in enumerate(encoder.classes_)}
            df[col] = df[col].apply(lambda x: category_map[x] if x in category_map else -1) # train set에서 보지못한 카테고리변수 -1(UNK) 처리

2017
2018
2019
2020

### 데이터 처리 및 라벨인코딩 후

In [ ]:
know_train[0]['aq1_1'].value_counts()

3    3116
4    3007
2    1706
5    1072
1     585
Name: aq1_1, dtype: int64

In [ ]:
know_test[0].head() # 2017년도 test 샘플

   idx  aq1_1  aq1_2  aq2_1  aq2_2  ...  bq39_2  bq40  bq41_1  bq41_2  bq41_3
0    0      3      4      2      2  ...       1     1    3000       0    2300
1    1      5      5      3      5  ...       1     1    5500       0    2500
2    2      5      5      5      4  ...       1     1    4300       0    4000
3    3      4      5      5      6  ...       1     1    4100       0    3000
4    4      5      6      4      5  ...       1     1    2800       0    2000

[5 rows x 155 columns]

## 테스트셋 추출 및 학습

In [ ]:
test_data = {}
for year, df in zip(years, know_test):
    test_data[year] =  {'X': df.iloc[:,1:]}

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.tree import DecisionTreeClassifier

clf1 = LogisticRegression()
clf2 = RandomForestClassifier(n_estimators=100, random_state=1)
clf3 = DecisionTreeClassifier()

model = VotingClassifier(estimators=[('lr', clf1), ('rf', clf2), ('dt', clf3)], voting='hard')

predicts = []
for year in tqdm(years):
    pred = models[year].predict(test_data[year]['X'])
    predicts.extend(pred)

100%|██████████| 4/4 [00:12<00:00,  3.20s/it]

# 제출

In [ ]:
submission = pd.read_csv('sample_submission.csv') # sample submission 불러오기

In [ ]:
submission['knowcode'] = predicts
submission.to_csv('know.csv', index=False)