## 사용 패키지

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

## 데이터 로드

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/MyDrive/train.csv')
test = pd.read_csv('/content/drive/MyDrive/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/sample_submission.csv')

## 데이터

In [4]:
train.head()

           일자 요일  ...     중식계    석식계
0  2016-02-01  월  ...  1039.0  331.0
1  2016-02-02  화  ...   867.0  560.0
2  2016-02-03  수  ...  1017.0  573.0
3  2016-02-04  목  ...   978.0  525.0
4  2016-02-05  금  ...   925.0  330.0

[5 rows x 12 columns]

In [5]:
test.head()

           일자  ...                                           석식메뉴
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3  2021-02-01  ...           흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4  2021-02-02  ...       흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

[5 rows x 10 columns]

In [6]:
submission.head()

           일자  중식계  석식계
0  2021-01-27    0    0
1  2021-01-28    0    0
2  2021-01-29    0    0
3  2021-02-01    0    0
4  2021-02-02    0    0

## 요일을 숫자로 매핑

In [7]:
train['요일'] = train['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})
test['요일'] = test['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})

## 수치 데이터만 피쳐로 선택

In [8]:
x_train = train[['요일', '본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수']]
y1_train = train['중식계']
y2_train = train['석식계']

x_test = test[['요일', '본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수']]

## 점심과 저녁을 식수 인원을 예측할 2개 모델 생성

In [9]:
model1 = RandomForestRegressor(n_jobs=-1, random_state=3)
model2 = RandomForestRegressor(n_jobs=-1, random_state=3)

## 학습

In [10]:
model1.fit(x_train, y1_train)
model2.fit(x_train, y2_train)

RandomForestRegressor(n_jobs=-1, random_state=3)

## 추론

In [11]:
pred1 = model1.predict(x_test)
pred2 = model2.predict(x_test)

## 결과 제출

In [12]:
submission['중식계'] = pred1
submission['석식계'] = pred2

In [13]:
submission.to_csv('/content/drive/MyDrive/baseline.csv', index=False)