In [ ]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

In [ ]:
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [ ]:
from sklearn.preprocessing import LabelEncoder
for feature in ['country', 'product', 'store'] :
    le = LabelEncoder()
    train[feature] = le.fit_transform(train[feature])
    test[feature] = le.fit_transform(test[feature])

In [ ]:
train['date']=pd.to_datetime(train['date'])
test['date']=pd.to_datetime(test['date'])

In [ ]:
train['dateY']=train['date'].dt.year
train['dateM']=train['date'].dt.month
train['dateD']=train['date'].dt.day

test['dateY']=test['date'].dt.year
test['dateM']=test['date'].dt.month
test['dateD']=test['date'].dt.day

In [ ]:
train=train[['row_id','country','store','product','dateY','dateM','dateD','num_sold']]
test = test[['row_id','country','store','product','dateY','dateM','dateD']]

In [ ]:
x = train.iloc[:, :-1]
y = train.iloc[:, -1]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [ ]:
pred = model.predict(test)

In [ ]:
submission['num_sold']=pred
submission.to_csv('fileD.csv',index=False)

In [ ]:
submission.head()

   row_id  num_sold
0   26298       218
1   26299       395
2   26300        99
3   26301       399
4   26302       687