## 패키지

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm

## 데이터

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/MyDrive/train.csv')
test = pd.read_csv('/content/drive/MyDrive/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/sample_submission.csv')

In [4]:
train.shape, test.shape

((2952, 15), (1022, 14))

In [5]:
train.head()

    단지코드  총세대수 임대건물구분  ... 도보 10분거리 내 버스정류장 수 단지내주차면수   등록차량수
0  C2483   900    아파트  ...                3.0  1425.0  1015.0
1  C2483   900    아파트  ...                3.0  1425.0  1015.0
2  C2483   900    아파트  ...                3.0  1425.0  1015.0
3  C2483   900    아파트  ...                3.0  1425.0  1015.0
4  C2483   900    아파트  ...                3.0  1425.0  1015.0

[5 rows x 15 columns]

In [6]:
test.head()

    단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
0  C1072   754  ...                2.0   683.0
1  C1072   754  ...                2.0   683.0
2  C1072   754  ...                2.0   683.0
3  C1072   754  ...                2.0   683.0
4  C1072   754  ...                2.0   683.0

[5 rows x 14 columns]

## 결측치 확인

In [7]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [8]:
test.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

## 컬럼명 변경

지하쳘역 수와 버스 정류장 수의 컬럼명을 지하철, 버스로 변경

In [9]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [10]:
train.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수', '등록차량수'
]

test.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수'
]

## 지역명 숫자로 매핑

In [11]:
local_map = {}
for i, loc in enumerate(train['지역'].unique()):
    local_map[loc] = i

In [12]:
train['지역'] = train['지역'].map(local_map)
test['지역'] = test['지역'].map(local_map)

## 전용면적을 5의 배수로 변경

In [13]:
train['전용면적'] = train['전용면적']//5*5
test['전용면적'] = test['전용면적']//5*5

## 전용면적 상/하한 적용

상한100, 하한 15

In [14]:
idx = train[train['전용면적']>100].index
train.loc[idx, '전용면적'] = 100
idx = test[test['전용면적']>100].index
test.loc[idx, '전용면적'] = 100

idx = train[train['전용면적']<15].index
train.loc[idx, '전용면적'] = 15
idx = test[test['전용면적']<15].index
test.loc[idx, '전용면적'] = 15

In [15]:
test['전용면적'].unique()

array([ 35.,  45.,  50.,  30.,  55.,  25.,  75., 100.,  15.,  20.,  40.,
        60.,  80.,  70.])

## 단지별 데이터 1차원으로 취합

In [16]:
columns = ['단지코드', '총세대수', '공가수', '지역', '단지내주차면수', '지하철', '버스']
target = '등록차량수'
area_columns = []
for area in train['전용면적'].unique():
    area_columns.append(f'면적_{area}')

In [17]:
new_train = pd.DataFrame()
new_test = pd.DataFrame()

In [18]:
for i, code in tqdm(enumerate(train['단지코드'].unique())):
    temp = train[train['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_train.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_train.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()
    
    new_train.loc[i, '등록차량수'] = temp.loc[0, '등록차량수']
    
for i, code in tqdm(enumerate(test['단지코드'].unique())):
    temp = test[test['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_test.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_test.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()

423it [00:10, 42.19it/s]
150it [00:03, 44.54it/s]

In [19]:
new_train

      단지코드    총세대수   공가수    지역  ...  면적_75.0  면적_80.0  면적_65.0   등록차량수
0    C2483   900.0  38.0   0.0  ...      0.0      0.0      0.0  1015.0
1    C2515   545.0  17.0   1.0  ...      0.0      0.0      0.0   205.0
2    C1407  1216.0  13.0   2.0  ...      0.0      0.0      0.0  1064.0
3    C1945   755.0   6.0   3.0  ...      0.0      0.0      0.0   730.0
4    C1470   696.0  14.0   4.0  ...      0.0      0.0      0.0   553.0
..     ...     ...   ...   ...  ...      ...      ...      ...     ...
418  C2586    90.0   7.0   9.0  ...      0.0      0.0      0.0    57.0
419  C2035   492.0  24.0   5.0  ...      0.0      0.0      0.0   246.0
420  C2020    40.0   7.0   8.0  ...      0.0      0.0      0.0    19.0
421  C2437    90.0  12.0  11.0  ...      0.0      0.0      0.0    16.0
422  C2532   239.0   7.0   5.0  ...      0.0      0.0      0.0   146.0

[423 rows x 23 columns]

## 결측치 처리

In [20]:
new_train = new_train.fillna(-1)
new_test = new_test.fillna(-1)

## 학습

In [21]:
x_train = new_train.iloc[:, 1:-1]
y_train = new_train.iloc[:,-1]
x_test = new_test.iloc[:,1:]

In [22]:
model = RandomForestRegressor(n_jobs=-1, random_state=3)

In [23]:
model.fit(x_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=3)

## 추론 및 제출

In [24]:
pred = model.predict(x_test)

In [25]:
submission['num'] = pred

In [26]:
submission.to_csv('/content/drive/MyDrive/baseline.csv', index=False)