In [ ]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

In [ ]:
train.head()

   Id  Elevation  Aspect  ...  Soil_Type39  Soil_Type40  Cover_Type
0   0       3189      40  ...          0.0          0.0         1.0
1   1       3026     182  ...          0.0          0.0         2.0
2   2       3106      13  ...          0.0          0.0         1.0
3   3       3022     276  ...          0.0          0.0         2.0
4   4       2906     186  ...          0.0          0.0         2.0

[5 rows x 56 columns]

In [ ]:
len(train)

1984232

In [ ]:
train = train.dropna()

In [ ]:
train = train.drop(['Id'], axis=1) 
test = test.drop(['Id'], axis=1)

In [ ]:
x = train.iloc[:, :-1]
y = train.iloc[:, -1]

In [ ]:
x

         Elevation  Aspect  Slope  ...  Soil_Type38  Soil_Type39  Soil_Type40
0             3189      40      8  ...          0.0          0.0          0.0
1             3026     182      5  ...          0.0          0.0          0.0
2             3106      13      7  ...          0.0          0.0          0.0
3             3022     276     13  ...          0.0          0.0          0.0
4             2906     186     13  ...          0.0          0.0          0.0
...            ...     ...    ...  ...          ...          ...          ...
1984226       2915      56      1  ...          0.0          1.0          0.0
1984227       3018      -3      5  ...          0.0          0.0          0.0
1984228       2721     211     12  ...          1.0          0.0          0.0
1984229       2574     135     17  ...          0.0          0.0          0.0
1984230       3234     164      2  ...          0.0          0.0          0.0

[1984231 rows x 54 columns]

In [ ]:
y

0          1.0
1          2.0
2          1.0
3          2.0
4          2.0
          ...
1984226    2.0
1984227    2.0
1984228    2.0
1984229    2.0
1984230    1.0
Name: Cover_Type, Length: 1984231, dtype: float64

In [ ]:
train.isnull().sum()

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
Cover_Type                            0
dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [ ]:
pred = model.predict(test)

In [ ]:
import numpy as np
pred = np.array(pred).astype(int)

In [ ]:
sub['Cover_Type']=pred
sub.to_csv('fileTypeInt.csv',index=False)
sub.head()

        Id  Cover_Type
0  4000000           2
1  4000001           2
2  4000002           2
3  4000003           2
4  4000004           2